# Core functionality - changes here should be rare!
/src/app.py                   @Arnohhh
/src/backend/database.py      @Arnohhh
/src/backend/routers/auth.py  @Arnohhh

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Arnohhh
